{% extends "base.html" %}



{% block content %}
{% comment %} <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">'New password:'</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">'Confirm password:'</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Change my password">
    </fieldset>
    </form> {% endcomment %}

    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                {% comment %} <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Восстановление пароля</h2>
                    <form method="post">{% csrf_token %}
                        <fieldset class="module aligned">
                            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                            <div class="form-row field-password1">
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">'New password:'</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="form-row field-password2">
                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">'Confirm password:'</label>
                                {{ form.new_password2 }}
                            </div>
                            <input type="submit" value="Change my password">
                        </fieldset>
                        </form>
                </div> {% endcomment %}
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <form method="post">
                        {% csrf_token %} 
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Имя пользователя</label>
                            <input class="form-control" autocomplete="username" value="{{ form.user.get_username }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">Пароль</label>
                            <input type="password" class="form-control" name="new_password1"
                             id="id_new_password1" placeholder="Введите новый пароль" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">Повторите пароль</label>
                            <input type="password" class="form-control" name="new_password2" 
                            id="id_new_password2" placeholder="Повторите пароль" required>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Изменить пароль</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>

{% endblock %}