{% extends "base.html" %}
{% load static %}


{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}



{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                <img src="{{ product.image.url }}"
                    class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
            </div>
            <div class="col-md-4 ">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ product.image.url }}"
                                class="img-fluid" alt="Изображение 1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
            <p class="card-text">Цена: <strong>{{ product.sell_price }} $</strong></p>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>

            <a href="{% url "carts:cart_add" %}" class="btn btn-dark add-to-cart"
            data-product-id={{ product.id }}>
            {% csrf_token %} 
            Добавить в корзину</a>
        </div>
    </div>

    <div class="container mt-5">
        {% if user.is_authenticated %}
        <h2>Добавить комментарий</h2>
        <form method="post" action="{% url "goods:comment" product.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="comment-text" class="form-label">Текст комментария</label>
                <textarea class="form-control" name="comment-text" id="comment-text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        {% endif %}
        <div id="commentsContainer">
            {% if comments %}
                <h2>Комментарии</h2>
                {% for comment in comments %}
                    <div class="card mb-4 custom-shadow comment">
                        <div class="card-body">
                            <img src="{% if comment.author.image %}{{ comment.author.image.url }}{% else %}{% static 'deps/images/baseavatar.jpg' %}{% endif %}" class="rounded-circle" style="width: 50px;" alt="Аватар">
                            <h5 class="card-title">{{ comment.author.username }}</h5>
                            <p class="card-text">{{ comment.text }}</p>
                            <p class="card-text"><small class="text-muted">{{ comment.created|date:"d.m.Y H:i:s" }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button class="btn btn-dark add-to-cart" id="loadMoreBtn">Загрузить больше комментариев</button>
    </div>
</div>
<script src="{% static "deps/js/product.js" %}"></script>
{% endblock  %}
